[user]
  useConfigOnly = true
  name = Liam Dawson
  email = "{{ .emailPersonal }}"
  signingkey = 0xA0BE84DBE2E93076

[init]
  defaultBranch = main

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[core]
  pager = "delta"
  editor = vim

[interactive]
  diffFilter = delta --color-only

[color]
  ui = auto

[push]
  default = current
  autoSetupRemote = true

[commit]
  verbose = true
  cleanup = scissors

[merge]
  ff = only

[pull]
  ff = only

[ghq]
  root = $GOPATH/src
  root = ~/w
  root = ~/src

[credential "https://github.com"]
  username = liamdawson

{{ if eq (get . "work") true -}}
[include]
  path = ~/.config/git/work
{{ end -}}

[include]
  path = ~/.config/git/other
