[include]
  path = ~/.config/git/aliases

[include]
  path = ~/.config/git/ids/personal/82049d196df75d4204b5e8c2166de5d197ae2610

{{ if eq (get . "work") true -}}
[include]
  path = ~/.config/git/work
{{ end -}}

{{ if eq (get . "personal") true -}}
[include]
  path = ~/.config/git/personal
{{ end -}}
