[gpg]
  recipient = "chezmoi-state@gpg.ldaws.net"

[data]
  editor = "/usr/local/bin/vim"
  ssh_pkcs11_provider = "/usr/lib/ssh-keychain.dylib"
  visual_editor = "/usr/local/bin/code -w"
  work_machine = {{ promptBool "Is this a work machine?" }}

[data.git]
  signing_key = "0xA0BE84DBE2E93076"
  envato_email = {{ promptString "Envato email address" "" | quote }}
  personal_email = {{ promptString "Personal email address" "" | quote }}

[data.gpg]
  default_key = "0xA0BE84DBE2E93076"
  trusted_key = "0xA0BE84DBE2E93076"

  pinentry = "/opt/homebrew/bin/pinentry-mac"
