{{ $workMachine := promptBoolOnce . "workMachine" "Is this a work machine?" -}}
{{ $personalMachine := promptBoolOnce . "personalMachine" "Is this a personal machine?" -}}
{{ $personalEmail := promptStringOnce . "emailPersonal" "Personal email address" -}}
{{ $pushoverUserKey := promptStringOnce . "pushoverUserKey" "Pushover User key" -}}
{{ $pushoverApiKey := promptStringOnce . "pushoverApiKey" "Pushover API key" -}}
{{ $envatoEmail := "" -}}

{{ if eq $workMachine true -}}
{{   $envatoEmail = promptStringOnce . "emailEnvato" "Envato email address" -}}
{{ end -}}

{{ $homebrewPrefix := "/home/linuxbrew/.linuxbrew" -}}
{{ if eq .chezmoi.os "darwin" -}}
{{   $homebrewPrefix = "/opt/homebrew" -}}
{{ end -}}

{{ $homebrewBinPath := joinPath $homebrewPrefix "bin" -}}

[age]
	identity = "~/.config/chezmoi/age.key"
	recipient = "age16650awzwppw8s725pvj8k32nfccyvgssvw5qj2kq9a9tsyxuyspsy7npy5"

[data]
	editor = {{ joinPath $homebrewBinPath "vim" | quote }}
	emailEnvato = {{ $envatoEmail | quote }}
	emailPersonal = {{ $personalEmail | quote }}
	gitSigningKey = "0xA0BE84DBE2E93076"
	gpgDefaultKey = "0xA0BE84DBE2E93076"
	gpgPinentry = {{ joinPath $homebrewBinPath "pinentry-mac" | quote }}
	gpgTrustedKey = "0xA0BE84DBE2E93076"
	personalMachine = {{ $personalMachine }}
	pushoverApiKey = {{ $pushoverApiKey | quote }}
	pushoverUserKey = {{ $pushoverUserKey | quote }}
	sshPkcs11Provider = "/usr/lib/ssh-keychain.dylib"
	visualEditor = {{ printf "%s -w" (joinPath $homebrewBinPath "code") | quote }}
	workMachine = {{ $workMachine }}

	[data.homebrew]
		prefix = {{ $homebrewPrefix | quote }}
		bin = {{ $homebrewBinPath | quote }}
