# Combined Brewfile, differs by platform and "work_machine" status.

cask_args no_quarantine: true

tap "cloudflare/cloudflare"
tap "devhubapp/devhub"
tap "envato/envato-iamy"
tap "homebrew/cask-versions"
tap "homebrew/homebrew-cask-drivers"
tap "jacobbednarz/cf-vault"
tap "saulpw/vd"

{{- if eq .chezmoi.os "darwin" }}

## Macos-specific formulae

brew "choose-gui"
brew "coreutils"                                           # gprintf etc.
brew "fish"
brew "gnu-sed"
brew "gnu-tar"
brew "gnupg"
brew "less"                                                # recommended by git-delta
brew "libffi"
brew "libyaml"
brew "mas"
brew "opensc"
brew "openssl"
brew "pinentry-mac"
brew "qemu"                                                # for qemu-img
brew "readline"
brew "switchaudio-osx"                                     # used by ~/scripts/work/home-desk.sh
brew "terminal-notifier"
brew "xz"
brew "yubico-piv-tool"

{{ else if eq .chezmoi.os "linux" }}

## Linux-specific formulae

{{ else }}

## WARNING:
## Unknown chezmoi.os - skipping OS specific formulae

{{ end -}}
{{- if eq .work_machine true }}

## Work-specific formulae

brew "cloudflare-wrangler"
brew "convox"
brew "envato/envato-iamy/iamy"                             # Envato fork of iamy
brew "mysql-client"
brew "principalmapper"                                     # experiment: quickly evaluate IAM permissions in AWS
brew "redis"

cask "aws-vault"                                           # cask because it needs an appropriate signature
cask "jacobbednarz/cf-vault/cf-vault"
cask "session-manager-plugin"                              # for AWS ECS Exec/other SSM usage with the AWS CLI v2

{{ else }}

## Skipping work-specific formulae

{{ end -}}

## Common formulae

brew "adr-tools"
brew "age"
brew "ansible"
brew "aria2"                                               # CLI download manager (incl. torrents)
brew "asciinema"
brew "awscli"
brew "cfn-lint"
brew "cfssl"
brew "chezmoi"
brew "cloudflare/cloudflare/cloudflared"                   # experiment: cloudflare tunnels as an ngrok replacement
brew "cmake"
brew "comby"                                               # experiment: quickly update boilerplate across repos?
brew "direnv" if false                                     # installing direnv enables the fish completions, with no possibility of only invoking manually
brew "doggo"                                               # experiment: CLI DNS client
brew "fx"                                                  # experiment: interactive JSON processing tool
brew "gh"
brew "ghq"
brew "git-delta"                                           # experiment: better git diffs
brew "golang"
brew "hadolint"                                            # experiment: Dockerfile linting
brew "hurl"                                                # experiment: CLI and plain text file oriented Postman competitor
brew "jq"
brew "miller"                                              # experiment: data analysis (e.g. grouped sum on a large CSV)
brew "mitmproxy"                                           # experiment: local MITM proxying (suggested by hurl)
brew "mkcert"
brew "nodenv"
brew "nss"                                                 # mkcert instructions say to install this if you use Firefox
brew "packer"
brew "pandoc"
brew "parliament"                                          # experiment: AWS IAM linter
brew "postgresql"
brew "pyenv"
brew "rbenv-default-gems"
brew "rbenv"
brew "ripgrep"
brew "saulpw/vd/visidata"                                  # experiment: tabular data multitool
brew "shellcheck"
brew "sk"
brew "sops"
brew "starship"
brew "structurizr-cli"                                     # experiment: architecture etc. documentation
brew "tfenv"
brew "topgrade"
brew "vim"
brew "xsv"
brew "ykman"
brew "yq"                                                  # experiment: like jq for YAML

{{- if eq .chezmoi.os "darwin" }}

# Casks and Macos apps last, because they sometimes require user input

cask "homebrew/cask-drivers/elgato-control-center"         # key light
cask "homebrew/cask-drivers/logitech-g-hub"
cask "homebrew/cask-drivers/sonos"
cask "homebrew/cask-drivers/synology-drive"
cask "homebrew/cask-drivers/yubico-authenticator"

cask "homebrew/cask-fonts/font-cascadia-mono"
cask "homebrew/cask-fonts/font-cascadia-mono-pl"           # powerline version for starship etc.

cask "1password"
cask "1password-cli"
cask "balenaetcher"
cask "balsamiq-wireframes"
cask "bartender"                                           # manage top bar icons
cask "bettertouchtool"                                     # mouse back/forward button remapping
cask "cleanshot"
cask "dash"
cask "docker"
cask "dotnet-sdk"
cask "finicky"                                             # open Meet URLs in Chrome automatically
cask "firefox"
cask "gather"                                              # experiment: team social stuff
cask "github"
cask "google-chrome"
cask "istat-menus"
cask "iterm2"
cask "jetbrains-toolbox"
cask "joplin"
cask "keybase"
cask "lens"
cask "microsoft-office"
cask "miro"
cask "musicbrainz-picard"
cask "paw"
cask "plexamp"
cask "postbox"                                             # experiment: desktop email client
cask "raycast"
cask "rectangle-pro"                                       # window management app
cask "remarkable"
cask "signal"
cask "visual-studio-code"
cask "zoom"
# cask "devhub"                                            # using custom arm64 build for M1 Macbook

cask "homebrew/cask-versions/firefox-developer-edition"

mas "Affinity Designer", id: 824171161
mas "Affinity Photo", id: 824183456
mas "Microsoft To Do", id: 1274495053
# mas "Okta Verify", id: 490179405 # keeps conflicting with something
mas "Slack", id: 803453959
mas "Telegram", id: 747648890
mas "Trello", id: 1278508951
mas "Xcode", id: 497799835

{{- if eq .work_machine true }}

# Work-specific Casks/Macos apps

cask "google-drive"
cask "cyberduck"
cask "obs"                                                 # experiment: record how-to etc. videos
cask "wireshark"
{{ end -}}
{{ end }}

