# Combined Brewfile, differs by platform and "work_machine" status.

cask_args no_quarantine: true

tap "devhubapp/devhub"
tap "envato/envato-iamy"
tap "homebrew/cask-versions"
tap "homebrew/homebrew-cask-drivers"
tap "jacobbednarz/cf-vault"
tap "saulpw/vd"

{{- if eq .chezmoi.os "darwin" }}

## Macos-specific formulae

brew "choose-gui"
brew "coreutils"                                           # gprintf etc.
brew "fish"
brew "gnu-sed"
brew "gnu-tar"
brew "less"                                                # recommended by git-delta
brew "libffi"
brew "libyaml"
brew "mas"
brew "opensc"
brew "openssl"
brew "pinentry-mac"
brew "readline"
brew "switchaudio-osx"                                     # used by ~/scripts/work/home-desk.sh
brew "terminal-notifier"
brew "xz"
brew "yubico-piv-tool"

{{ else if eq .chezmoi.os "linux" }}

## Linux-specific formulae

{{ else }}

## WARNING:
## Unknown chezmoi.os - skipping OS specific formulae

{{ end -}}
{{- if eq .work_machine true }}

## Work-specific formulae

brew "convox"
brew "envato/envato-iamy/iamy"                             # Envato fork of iamy
brew "principalmapper"                                     # experiment: quickly evaluate IAM permissions in AWS
brew "redis"

cask "aws-vault"                                           # cask because it needs an appropriate signature
cask "jacobbednarz/cf-vault/cf-vault"
cask "session-manager-plugin"                              # for AWS ECS Exec/other SSM usage with the AWS CLI v2

{{ else }}

## Skipping work-specific formulae

{{ end -}}

## Common formulae

brew "adr-tools"
brew "ansible"
brew "aria2"                                               # CLI download manager (incl. torrents)
brew "asciinema"
brew "awscli"
brew "cfn-lint"
brew "cfssl"
brew "chezmoi"
brew "cmake"
brew "comby"                                               # experiment: quickly update boilerplate across repos?
brew "direnv" if false                                     # installing direnv enables the fish completions, with no possibility of only invoking manually
brew "dog"                                                 # experiment: CLI DNS client
brew "gh"
brew "ghq"
brew "git-delta"                                           # experiment: better git diffs
brew "golang"
brew "hadolint"                                            # experiment: Dockerfile linting
brew "nodenv"
brew "parliament"                                          # experiment: AWS IAM linter
brew "pyenv"
brew "rbenv-default-gems"
brew "rbenv"
brew "saulpw/vd/visidata"                                  # experiment: tabular data multitool
brew "shellcheck"
brew "sk"
brew "starship"
brew "structurizr-cli"                                     # experiment: architecture etc. documentation
brew "tfenv"
brew "topgrade"
brew "vim"
brew "ykman"

{{- if eq .chezmoi.os "darwin" }}

# Casks and Macos apps last, because they sometimes require user input

cask "homebrew/cask-drivers/elgato-control-center"         # key light
cask "homebrew/cask-drivers/logitech-g-hub"
cask "homebrew/cask-drivers/sonos"
cask "homebrew/cask-drivers/synology-drive"

cask "homebrew/cask-fonts/font-cascadia-mono"
cask "homebrew/cask-fonts/font-cascadia-mono-pl"           # powerline version for starship etc.

cask "bartender"                                           # manage top bar icons
cask "cleanshot"
cask "dash"
cask "devhub"
cask "docker"
cask "dotnet-sdk"
cask "finicky"                                             # open Meet URLs in Chrome automatically
cask "firefox"
cask "google-chrome"
cask "istat-menus"
cask "iterm2"
cask "jetbrains-toolbox"
cask "joplin"
cask "jupyterlab"                                          # experiment: Jupyter notebooks
cask "onedrive"
cask "paw"
cask "plexamp"
cask "raycast"
cask "rectangle"                                           # window management app
cask "remarkable"
cask "signal"
cask "visual-studio-code"
cask "zoom"

cask "homebrew/cask-versions/firefox-developer-edition"

mas "1Password 7", id: 1333542190
mas "Affinity Designer", id: 824171161
mas "Affinity Photo", id: 824183456
mas "Microsoft To Do", id: 1274495053
mas "Slack", id: 803453959
mas "Telegram", id: 747648890
mas "Trello", id: 1278508951
mas "Xcode", id: 497799835

{{- if eq .work_machine true }}

# Work-specific Casks/Macos apps

cask "google-drive"
cask "cyberduck"
cask "obs"                                                 # experiment: record how-to etc. videos
{{ end -}}
{{ end }}
