# Combined Brewfile, differs by platform and "work_machine" status.
{{ if eq .chezmoi.os "darwin" }}
## Macos-specific formulae

brew "choose-gui"
brew "coreutils"                                           # gprintf etc.
brew "fish"
brew "gnu-sed"
brew "gnu-tar"
brew "less"                                                # recommended by git-delta
brew "libffi"
brew "libyaml"
brew "mas"
brew "opensc"
brew "openssl"
brew "pinentry-mac"
brew "readline"
brew "switchaudio-osx"                                     # used by ~/scripts/work/home-desk.sh
brew "terminal-notifier"
brew "xz"
brew "yubico-piv-tool"

cask "visual-studio-code"

{{ else if eq .chezmoi.os "linux" }}
## Linux-specific formulae
{{ else }}
## WARNING:
## Unknown chezmoi.os - skipping OS specific formulae
{{ end }}

{{ if eq .work_machine true }}
## Work-specific formulae

brew "convox"
brew "envato/envato-iamy/iamy"                             # Envato fork of iamy
brew "principalmapper"                                     # experiment: quickly evaluate IAM permissions in AWS

cask "aws-vault"                                           # cask because it needs an appropriate signature
cask "cyberduck"
cask "google-drive"
cask "jacobbednarz/cf-vault/cf-vault"
cask "obs"                                                 # experiment: record how-to etc. videos
cask "session-manager-plugin"                              # for AWS ECS Exec/other SSM usage with the AWS CLI v2

{{ else }}
## Skipping work-specific formulae
{{ end }}

## Common formulae

brew "adr-tools"
brew "ansible"
brew "aria2"                                               # CLI download manager (incl. torrents)
brew "asciinema"
brew "awscli"
brew "cfn-lint"
brew "cfssl"
brew "chezmoi"
brew "cmake"
brew "direnv"                                              # deliberately not configured, I only invoke it manually
brew "dog"                                                 # experiment: CLI DNS client
brew "git-delta"                                           # experiment: better git diffs
brew "gh"
brew "ghq"
brew "golang"
brew "hadolint"                                            # experiment: Dockerfile linting
brew "nodenv"
brew "parliament"                                          # experiment: AWS IAM linter
brew "pyenv"
brew "rbenv-default-gems"
brew "rbenv"
brew "saulpw/vd/visidata"                                  # experiment: tabular data multitool
brew "sk"
brew "starship"
brew "structurizr-cli"                                     # experiment: architecture etc. documentation
brew "tfenv"
brew "topgrade"
brew "ykman"

{{ if eq .chezmoi.os "darwin" }}
# Casks and Macos apps last, because they sometimes require user input

cask "homebrew/cask-drivers/elgato-control-center"         # key light
cask "homebrew/cask-drivers/sonos"
cask "homebrew/cask-drivers/synology-drive"

cask "homebrew/cask-fonts/font-cascadia-mono"
cask "homebrew/cask-fonts/font-cascadia-mono-pl"           # powerline version for starship etc.

cask "bartender"                                           # experiment: manage top bar icons
cask "finicky"                                             # open Meet URLs in Chrome automatically
cask "jupyterlab"                                          # experiment: Jupyter notebooks
cask "onedrive"
cask "rectangle"                                           # experiment: window management app
cask "remarkable"

mas "1Password 7", id: 1333542190
mas "Affinity Designer", id: 824171161
mas "Affinity Photo", id: 824183456
mas "Microsoft To Do", id: 1274495053
mas "Slack", id: 803453959
mas "Telegram", id: 747648890
mas "Trello", id: 1278508951
mas "Xcode", id: 497799835
{{ end }}

#
# unsorted:
#
# tap "aws/tap"
# tap "buildkite/buildkite"
# tap "buildkite/cli"
# tap "cloudflare/cloudflare"
# tap "devhubapp/devhub"
# tap "drakew/corgi"
# tap "homebrew/bundle"
# tap "homebrew/cask"
# tap "homebrew/cask-drivers"
# tap "homebrew/cask-fonts"
# tap "homebrew/cask-versions"
# tap "homebrew/core"
# tap "jmespath/jmespath"
# tap "knqyf263/pet"
# tap "liamdawson/repo"
# tap "puma/puma"
# tap "rs/tap"
# brew "exercism"
# brew "exiv2"
# brew "fd"
# brew "fork-cleaner"
# brew "gawk"
# brew "git"
# brew "gnu-sed"
# brew "gnu-tar"
# brew "gnupg"
# brew "harfbuzz"
# brew "helm"
# brew "hivemind"
# brew "httpie"
# brew "hyperfine"
# brew "libheif"
# brew "jq"
# brew "jsonnet"
# brew "just"
# brew "kubernetes-cli"
# brew "libmaxminddb"
# brew "libsodium"
# brew "localstack"
# brew "minikube"
# brew "mitmproxy"
# brew "mysql@5.6", link: true
# brew "navi"
# brew "neofetch"
# brew "node-build"
# brew "opensc", link: false
# brew "overmind"
# brew "packer"
# brew "pandoc"
# brew "pastel"
# brew "peco"
# brew "pinentry-mac"
# brew "pipx"
# brew "plantuml"
# brew "postgresql@9.6"
# brew "qt"
# brew "qt@5"
# brew "ruby-build"
# brew "redis"
# brew "ripgrep"
# brew "rsync"
# brew "shellcheck"
# brew "shfmt"
# brew "sk"
# brew "sops"
# brew "starship"
# brew "subversion"
# brew "tanka"
# brew "terminal-notifier"
# brew "tokei"
# brew "topgrade"
# brew "tree"
# brew "vim"
# brew "watchexec"
# brew "xsv"
# brew "yamllint"
# brew "ykman"
# brew "yq"
# brew "yubico-piv-tool"
# brew "aws/tap/aws-sam-cli"
# brew "buildkite/buildkite/buildkite-agent"
# brew "buildkite/cli/bk"
# brew "cloudflare/cloudflare/cloudflared"
# brew "drakew/corgi/corgi"
# brew "jmespath/jmespath/jp"
# brew "knqyf263/pet/pet"
# brew "liamdawson/repo/buildkite_waiter"
# brew "liamdawson/repo/https-cert-info"
# brew "puma/puma/puma-dev"
# brew "rs/tap/dnstrace"
# cask "1password-cli"
# cask "adoptopenjdk"
# cask "alfred"
# cask "aws-vault"
# cask "balenaetcher"
# cask "balsamiq-wireframes"
# cask "bettertouchtool"
# cask "calibre"
# cask "charles"
# cask "dash"
# cask "devhub"
# cask "discord"
# cask "docker"
# cask "dotnet-sdk"
# cask "elgato-stream-deck"
# cask "firefox"
# cask "firefox-developer-edition"
# cask "font-fira-mono"
# cask "font-noto-mono"
# cask "font-noto-sans"
# cask "font-noto-serif"
# cask "font-open-sans"
# cask "font-open-sans-condensed"
# cask "font-roboto-mono"
# cask "font-ubuntu"
# cask "font-ubuntu-mono"
# cask "gimp"
# cask "google-chrome"
# cask "imageoptim"
# cask "insomnia"
# cask "iterm2"
# cask "jetbrains-toolbox"
# cask "joplin"
# cask "keybase"
# cask "microsoft-auto-update"
# cask "microsoft-edge"
# cask "musicbrainz-picard"
# cask "plex"
# cask "plexamp"
# cask "pocket-casts"
# cask "postman"
# cask "powershell"
# cask "raycast"
# cask "screen"
# cask "session-manager-plugin"
# cask "signal"
# cask "sizzy"
# cask "sonos"
# cask "stoplight-studio"
# cask "visual-studio-code"
# cask "wkhtmltopdf"
# cask "yubico-authenticator"
# cask "yubico-yubikey-manager"
# cask "yubico-yubikey-piv-manager"
