[user]
  useConfigOnly = true
  name = Liam Dawson
	signingkey = {{ .git.signing_key }}

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[core]
  pager = "less -FRX"
  attributesfile = ~/.gitattributes_global
  excludesfile = ~/.gitignore_global
  editor = vim

[color]
  ui = auto

[push]
  default = current

[commit]
  verbose = true
  cleanup = scissors

[merge]
  ff = only

[pull]
  ff = only

[ghq]
  root = $GOPATH/src
  root = ~/w

[init]
  defaultBranch = main

[alias]
  set-upstream = "!git branch --set-upstream-to="origin/$(git branch --show-current)" "$(git branch --show-current)""
