#!/usr/bin/env bash

set -Eeuo pipefail

# .tool-versions hash: {{ include "dot_tool-versions" | sha256sum }}
if command -v rtx >/dev/null 2>&1; then
	rtx install
elif command -v asdf >/dev/null 2>&1; then
	asdf install
	asdf reshim || true
fi
