#!/usr/bin/env bash

set -Eeuo pipefail

## {{ if and (eq .chezmoi.os "darwin") (eq .workMachine true) }}

ln -s "$HOME/scripts/work/begin-work" "$HOME/Desktop/Begin Work"
ln -s "$HOME/scripts/work/home-desk" "$HOME/Desktop/Home Desk"

## {{ end }}
