#!/usr/bin/env bash

set -Eeuo pipefail

# {{ if eq .chezmoi.os "linux" }}
# things will be missing
apt_packages=(
  curl
  git
  firefox
  fish
  git
  make
  tilix
  vim
  zeal

  opensc
  opensc-pkcs11
  scdaemon

  libssl-dev
  zlib1g-dev

  fonts-noto-color-emoji
  fonts-cascadia-code
  # opensc
  # opensc-pkcs11
  # arc-theme
  # curl
  # fonts-noto-color-emoji
  # fonts-powerline
  # wget
  # zeal
)

sudo apt-get install -y "${apt_packages[@]}"
# {{ end }}
