#!/usr/bin/env bash

set -Eeuo pipefail

## {{ if eq .chezmoi.os "linux" }}

# TODO: back to stable

target_install="code-insiders"

if ! [ -f /usr/share/keyrings/packages.microsoft.gpg ]; then
	curl https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > packages.microsoft.gpg
	sudo install -o root -g root -m 644 packages.microsoft.gpg /usr/share/keyrings/
fi

if ! [ -f /etc/apt/sources.list.d/vscode.list ]; then
	sudo sh -c 'echo "deb [arch=amd64 signed-by=/usr/share/keyrings/packages.microsoft.gpg] https://packages.microsoft.com/repos/vscode stable main" > /etc/apt/sources.list.d/vscode.list'
	sudo apt-get install -y apt-transport-https
fi

if ! command -v "$target_install" >/dev/null 2>&1; then
	sudo apt-get update && sudo apt-get install -y "$target_install"
fi

## {{ end }}
