#!/usr/bin/env bash

set -Eeuo pipefail

# {{ if eq .chezmoi.os "linux" }}
# things will be missing
apt_packages=(
  curl
  firefox
  fish
  git
  tilix
  vim
  wget
  zeal

  fonts-cascadia-code
  fonts-noto-color-emoji

  apt-transport-https
  clang
  cmake
  default-jdk
  default-jre
  libgtk-3-dev
  libssl-dev
  make
  ninja-build
  opensc
  opensc-pkcs11
  pkg-config
  scdaemon
  xz-utils
  zlib1g-dev
)

sudo apt-get install -y "${apt_packages[@]}"
# {{ end }}
