#!/usr/bin/env bash

set -Eeuo pipefail

## {{ if eq .chezmoi.os "darwin" }}

# maintain the navi cheatsheets in one place

if ! [[ -L "${HOME}/Library/Application Support/navi" ]]; then
  ln -Ffsv "${HOME}/.local/share/navi" "${HOME}/Library/Application Support/"
fi

## {{ end }}
