#!/usr/bin/env bash

set -Eeuo pipefail

# {{ if eq .chezmoi.os "darwin" }}
brew_casks=(
  1password-cli
  alfred
  aws-vault
  balenaetcher
  balsamiq-wireframes
  charles
  dash
  devhubapp/devhub/devhub
  discord
  dotnet-sdk
  firefox
  homebrew/cask-versions/firefox-developer-edition
  google-chrome
  iterm2
  jetbrains-toolbox
  # joplin
  keybase
  microsoft-edge
  nordvpn
  plex
  plexamp
  powershell
  scrivener
  setapp
  homebrew/cask-drivers/sonos
  visual-studio-code

  # trialing
  balsamiq-wireframes                         # low-fidelity UI wireframing
  homebrew/cask-drivers/elgato-stream-deck    # trialling for work usage
  gitahead                                    # cross-platform native Git client
  imageoptim                                  # image optimization
  insomnia-designer                           # REST client and API designer
  kap                                         # open-source screen recorder built
  masscode                                    # code snippet app
  pocket-casts                                # Pocket Casts desktop app
  postman                                     # REST client
  screen                                      # screen-sharing tool
  sizzy                                       # developer browser
  standard-notes                              # secure note-taking
  stoplight-studio                            # REST API designer
  workflowy                                   # task management

  homebrew/cask-fonts/font-cascadia-mono
  homebrew/cask-fonts/font-fira-mono
  homebrew/cask-fonts/font-noto-mono
  homebrew/cask-fonts/font-open-sans
  homebrew/cask-fonts/font-open-sans-condensed
  homebrew/cask-fonts/font-noto-sans
  homebrew/cask-fonts/font-noto-serif
  homebrew/cask-fonts/font-roboto-mono
  homebrew/cask-fonts/font-ubuntu
  homebrew/cask-fonts/font-ubuntu-mono

  homebrew/cask-drivers/yubico-authenticator  # yubikey managed TOTP
  homebrew/cask-drivers/yubico-yubikey-manager
  homebrew/cask-drivers/yubico-yubikey-piv-manager
)

brew cask install "${brew_casks[@]}"

# {{ end }}
