#!/usr/bin/env bash

set -Eeuo pipefail

## {{ if eq .chezmoi.os "darwin" }}

# pull community raycast scripts

scripts_dir="${HOME}/.local/share/raycast/community-script-commands"

if ! [[ -d "$scripts_dir" ]]; then
  git clone https://github.com/raycast/script-commands.git "$scripts_dir"
else
  (
    cd "$scripts_dir"
    git pull
  )
fi

# link used scripts

## {{ end }}
