#!/usr/bin/env bash

set -Eeuo pipefail

# {{ if eq .chezmoi.os "linux" }}
# things will be missing
apt_packages=(
  git
  # opensc
  # opensc-pkcs11

  # arc-theme
  # curl
  # firefox
  # fish
  # fonts-noto-color-emoji
  # fonts-powerline
  # git
  # make
  # tilix
  # vim
  # wget
  # zeal
)

sudo apt-get install -y "${apt_packages[@]}"
# {{ end }}
