#!/usr/bin/env bash

set -Eeuo pipefail

brew_formulae=(
  ### Reliably used

  adr-tools                           # ADR manipulation
  asciinema                           # Record shell sessions
  awscli
  cfssl                               # TLS certificate helper
  convox
  direnv
  docker-machine                      # TODO: fish completions
  docker-machine-driver-hyperkit      # TODO: macos only
  docker-machine-driver-vmware
  drakew/corgi/corgi                  # Run script chains
  fish
  git
  gnupg
  hub
  jq
  minikube
  neofetch                            # Show system information
  node-build
  nodenv
  pandoc                              # Used for mermaid, among other things
  peco                                # Fuzzy-finder used by corgi
  pipx
  puma/puma/puma-dev                  # Rails local dev helper
  pyenv
  rbenv
  ripgrep
  rsync
  ruby-build
  shellcheck
  shfmt
  starship                            # cross-shell prompt
  topgrade                            # Update ALL the packages
  vim
  xsv                                 # jq for csv
  ykman
  yq                                  # jq for yaml

  ## Experiments

  aws-shell                           # More interactive AWS CLI activity
  cloudflare/cloudflare/cloudflared   # TODO: why?
  fd                                  # A friendlier 'find'
  fork-cleaner                        # TODO: why?
  github/gh/gh                        # Sorta replaces hub
  httpie                              # Nicer to use than cURL, usually
  hyperfine                           # Benchmarking tool
  just                                # Make alternative for scripts
  knqyf263/pet/pet                    # Use code/shell snippets
  kubernetes-helm                     # TODO: why?
  liamdawson/personal/jiq             # Interactive jq
  liamdawson/personal/pier            # Simple script management CLI
  pastel                              # Work with colours
  rs/tap/dnstrace                     # Convenient DNS debugging
  tree                                # Pretty `ls`
  watchexec                           # nodemon alternative

  ## {{ if eq .chezmoi.os "darwin" }} Macos-specific formulae

  heroku/brew/heroku
  kubernetes-cli                      # Until it builds in Linuxbrew
  libffi
  libyaml
  mas
  opensc
  openssl
  pinentry-mac
  readline
  terminal-notifier
  xz
  yubico-piv-tool

  ## {{ else if eq .chezmoi.os "linux" }} Linux-specific formulae

  linuxbrew/fonts/font-cascadia-mono-pl
  linuxbrew/fonts/font-fira-mono
  linuxbrew/fonts/font-ubuntu
  linuxbrew/fonts/font-ubuntumono-nerd-font

  ## {{ end }}
)

brew install "${brew_formulae[@]}"

# {{ if eq .chezmoi.os "linux" }}
linux_head_fonts=(
  linuxbrew/fonts/font-noto-mono
  linuxbrew/fonts/font-noto-sans
  linuxbrew/fonts/font-noto-serif
  linuxbrew/fonts/font-roboto-mono
)

brew install --HEAD "${linux_head_fonts[@]}"
# {{ end }}
