#!/usr/bin/env bash

set -Eeuo pipefail

echo "TODO: configure snaps, if still relevant"
exit 0

# {{/* if eq .chezmoi.os "linux" }}
# sudo snap install --classic kubectl
# sudo snap install --classic powershell
# {{ end */}}
