#!/usr/bin/env bash

set -Eeuo pipefail

brew_formulae=(
  ### Reliably used

  adr-tools                           # ADR manipulation
  asciinema                           # Record shell sessions
  awscli
  cfn-lint
  cfssl                               # TLS certificate helper
  chezmoi
  direnv
  docker-machine                      # TODO: fish completions
  docker-machine-driver-vmware
  drakew/corgi/corgi                  # Run script chains
  fish
  gawk
  gh                                  # Official GitHub CLI
  git
  gnupg
  hub
  iamy
  jmespath/jmespath/jp
  jq
  liamdawson/repo/https-cert-info
  minikube
  neofetch                            # Show system information
  node-build
  nodenv
  overmind                            # process manager for Procfile-based applications and tmux
  packer
  pandoc                              # Used for mermaid, among other things
  peco                                # Fuzzy-finder used by corgi
  pipx
  puma/puma/puma-dev                  # Rails local dev helper
  pyenv
  rbenv
  rbenv-default-gems
  ripgrep
  rs/tap/dnstrace
  rsync
  ruby-build
  shellcheck
  shfmt
  sk                                  # Rust fuzzy-find, used by navi and my ws scripts
  starship                            # cross-shell prompt
  svn                                 # Used for font installs
  terraform
  tokei                               # count LoC
  topgrade                            # Update ALL the packages
  vim
  xsv                                 # jq for csv
  yamllint
  ykman
  yq                                  # jq for yaml

  ## Experiments

  cheat                               # interactive cheat sheets
  cloudflare/cloudflare/cloudflared   # TODO: why?
  dog                                 # command-line DNS client
  exercism                            # TODO: why?
  fd                                  # A friendlier 'find'
  fork-cleaner                        # TODO: why?
  ghq                                 # Repo manager
  hivemind                            # TODO: why?
  httpie                              # Nicer to use than cURL, usually
  hyperfine                           # Benchmarking tool
  jsonnet                             # TODO: why?
  just                                # Make alternative for scripts
  knqyf263/pet/pet                    # Use code/shell snippets
  kubernetes-helm                     # TODO: why?
  mitmproxy                           # Free and open source interactive HTTPS proxy
  navi                                # TODO: why?
  pastel                              # Work with colours
  rs/tap/dnstrace                     # Convenient DNS debugging
  sops                                # TODO: why?
  structurizr-cli                     # "diagrams-as-code" tool
  tanka                               # jsonnet kubectl
  tree                                # Pretty `ls`
  watchexec                           # nodemon alternative

  ## {{ if eq .chezmoi.os "darwin" }} Macos-specific formulae

  docker-machine-driver-xhyve
  gnu-sed
  gnu-tar
  kubernetes-cli                      # Until it builds in Linuxbrew
  libffi
  libyaml
  mas
  opensc
  openssl
  pinentry-mac
  readline
  terminal-notifier
  xz
  yubico-piv-tool

  ## {{ else if eq .chezmoi.os "linux" }} Linux-specific formulae

  linuxbrew/fonts/font-cascadia-mono
  linuxbrew/fonts/font-fira-mono
  linuxbrew/fonts/font-ubuntu
  linuxbrew/fonts/font-ubuntumono-nerd-font

  ## {{ end }}
)

brew install "${brew_formulae[@]}"

# {{ if eq .chezmoi.os "linux" }}
linux_head_fonts=(
  linuxbrew/fonts/font-noto-mono
  linuxbrew/fonts/font-noto-sans
  linuxbrew/fonts/font-noto-serif
  linuxbrew/fonts/font-roboto-mono
)

brew install --HEAD "${linux_head_fonts[@]}"
# {{ end }}
