helpers {{/* this line is commented on include */}}

def admin_optional_cask_args
#{{ if .work }}
  { appdir: "~/Applications" }
#{{ else }}
  {}
#{{ end }}
end

def work?; {{ .work }}; end
def personal?; {{ .personal }}; end
def desk?; {{ .desk }}; end
def enabled?(flag) {{ $enableMap := .enable }}
  { {{ range keys $enableMap | sortAlpha }}{{ . }}: {{ index $enableMap . }},{{ end }} }[flag] || false
end
