{{- $emailPersonal := promptStringOnce . "emailPersonal" "Personal email address" -}}

{{/* boolean feature tags */}}
{{- $personal := promptBoolOnce . "personal" "Include personal secrets" -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
    emailPersonal = {{ $emailPersonal | quote }}
    personal = {{ $personal }}
