{{- $emailPersonal := promptStringOnce . "emailPersonal" "Personal email address" -}}

{{/* boolean feature tags */}}
{{- $personal := promptBoolOnce . "personal" "Include personal secrets" -}}{{/* true if this machine should have personal secrets and apps */}}
{{- $desk := promptBoolOnce . "desk" "Include config for home desk" -}}{{/* true if this machine is ever used at my desk and should have relevant config/utilities */}}
{{- $work := promptBoolOnce . "work" "Include config for work devices" -}}{{/* true if this machine is used as a work device */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

encryption = "age"

[data]
emailPersonal = {{ $emailPersonal | quote }}
personal = {{ $personal }}
desk = {{ $desk }}
work = {{ $work }}

[data.enable]
mise = true
mise_corepack = true
asdf = false
colima = {{ and $work (eq .chezmoi.os "darwin") }}

[edit]
command = "vim"

[age]
identity = "~/.config/chezmoi/age.key"
recipient = "age16650awzwppw8s725pvj8k32nfccyvgssvw5qj2kq9a9tsyxuyspsy7npy5"
