tap "homebrew/cask-fonts"

brew "age"
brew "chezmoi"
brew "fish"
brew "ghq"
brew "git-delta"
brew "rtx"
brew "starship"

cask "1password-cli"
cask "1password"
cask "firefox"
cask "git-credential-manager"
cask "iterm2"
cask "visual-studio-code"

cask "font-monaspace"
