cask_args quarantine: false

tap "homebrew/cask-fonts"

# utilities
brew "adr-tools"
brew "age"
brew "awscli"
brew "chezmoi"
brew "curl"
brew "fish"
brew "ghq"
brew "git-delta"
brew "jq"
brew "navi"
brew "rtx"
brew "rustup-init"
brew "sk"
brew "starship"
brew "topgrade"
brew "watchman"

# build deps
brew "autoconf"
brew "gcc"
brew "gpg"
brew "libpq"
brew "libyaml"
brew "openssl"
brew "pkg-config"
brew "readline"
brew "sqlite3"
brew "xz"
brew "zlib"

#{{ if .work }} work formula
brew "saml2aws" # trial: see if I can get this working?
# end work formula {{ else }} skipping work formula{{ end }}

#{{ if eq .chezmoi.os "darwin" }}
# homebrew casks (.chezmoi.os == "darwin")
#

# apps
cask "1password-cli"
cask "1password"
cask "bartender"
cask "docker"
cask "firefox"
cask "git-credential-manager"
cask "google-chrome"
cask "iterm2"
cask "jetbrains-toolbox"
cask "keybase"
cask "logseq"
cask "plexamp"
cask "raycast"
cask "rectangle-pro"
cask "shottr" # trial: replace Cleanshot?
cask "spotify"
cask "visual-studio-code"

# fonts
cask "font-monaspace"
cask "font-monaspace-nerd-font"

#{{ if .desk }} desk utilities

cask "elgato-control-center"
cask "elgato-stream-deck"

# end desk utilities {{ else }} skipping desk utilities {{ end }}

#{{ if .work }} work casks
cask "android-studio"
# end work casks {{ else }} skipping work casks{{ end }}

# end casks {{ else }} skipping casks {{ end }}

#{{ if eq .chezmoi.os "darwin" }}
# mac app store apps (.chezmoi.os == "darwin")
#

mas "Affinity Designer", id: 824171161
mas "Affinity Photo", id: 824183456
mas "Affinity Publisher", id: 881418622
mas "Velja", id: 1607635845
mas "Xcode", id: 497799835

# end mac app store apps {{ else }} skipping mac app store apps {{ end }}
