tap "homebrew/cask-fonts"

# utilities
brew "age"
brew "chezmoi"
brew "fish"
brew "ghq"
brew "git-delta"
brew "rtx"
brew "starship"

# build deps
brew "openssl"
brew "readline"
brew "sqlite3"
brew "xz"
brew "zlib"

cask "1password-cli"
cask "1password"
cask "firefox"
cask "git-credential-manager"
cask "iterm2"
cask "visual-studio-code"

# fonts
cask "font-monaspace"
