#!/usr/bin/env bash

export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

if test -d "$HOME/.local/share/mise/shims" && [[ $PATH != *"$HOME/.local/share/mise/shims"* ]]; then
  export PATH="$HOME/.local/share/mise/shims:$PATH"
fi

if test -e "$HOME/.private_profile"; then
  # shellcheck disable=SC1091
  source "$HOME/.private_profile"
fi
