#!/bin/bash

# Required parameters:
# @raycast.schemaVersion 1
# @raycast.title Edit chezmoi state
# @raycast.mode silent
#
# Optional parameters:
# @raycast.icon 📝
# @raycast.currentDirectoryPath ~
# @raycast.packageName Chezmoi Scripts

{{ .code_command }} --folder-uri "file://$HOME/.local/share/chezmoi" --file-uri "file://$HOME/.config/chezmoi/chezmoi.toml"
