#!/usr/bin/env bash

set -Eeufo pipefail

# install rustup
if ! command -v rustup >/dev/null 2>&1; then
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --no-modify-path -y

    # starting a shell should fix paths universally?
    fish -c ''
fi

# .config/mise/config.toml hash: {{ include "dot_config/mise/config.toml" | sha256sum }}
mise install
mise reshim
