urls:
  - pover://{{ .pushoverUserKey }}@{{ .pushoverApiKey }}
  - pover://{{ .pushoverUserKey }}@{{ .pushoverApiKey }}:
      tag: push, mobile, pushover
{{ if eq .chezmoi.os "darwin" }}
  - macosx://
  - macosx://:
      tag: desktop
{{ end }}
