[user]
  useConfigOnly = true
  name = Liam Dawson
  email = "{{ .emailPersonal }}"
  signingkey = {{ .gitSigningKey }}

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[core]
  pager = "delta"
  editor = vim

[interactive]
  diffFilter = delta --color-only

[color]
  ui = auto

[push]
  default = current

[commit]
  verbose = true
  cleanup = scissors

[merge]
  ff = only

[pull]
  ff = only

[ghq]
  root = $GOPATH/src
  root = ~/w

[init]
  defaultBranch = main

[delta]
  features = line-numbers hyperlinks
  hyperlinks-file-link-format = vscode://file/{path}:{line}
  navigate = true

[alias]
  set-upstream = "!git branch --set-upstream-to="origin/$(git branch --show-current)" "$(git branch --show-current)""

[credential]
  helper = 
  helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
  useHttpPath = true

[include]
  path = ~/.config/git/private

[includeIf "gitdir:~/w/github.com/envato/"]
  path = ~/.config/git/envato
