def work?; {{ .work }}; end
def personal?; {{ .personal }}; end
def desk?; {{ .desk }}; end
def enabled?(flag) {{ $enableMap := .enable }}
  { {{ range keys $enableMap | sortAlpha }}{{ . }}: {{ index $enableMap . }},{{ end }} }[flag] || false
end

def trial(_reason, **kwargs)
  if block_given?
    yield
  else
    true
  end
end
