set -gx CARGO_HOME "$HOME/.cargo"
set -gx DELTA_PAGER "less -FRX"
set -gx PNPM_HOME "$HOME/.local/share/pnpm"
set -gx XDG_CACHE_HOME "$HOME/.cache"
set -gx XDG_CONFIG_HOME "$HOME/.config"
set -gx XDG_DATA_HOME "$HOME/.local/share"
set -gx XDG_STATE_HOME "$HOME/.local/state"
{{ if .enable.colima }}set -gx COLIMA_HOME "$HOME/.colima"{{ end }}
{{ if .enable.mise_corepack }}set -gx MISE_NODE_COREPACK "1"{{ end }}

# chezmoi configured features {{ $enableMap := .enable }}
{{ range keys $enableMap | sortAlpha -}}
set -gx LD_CHEZMOI_FEATURE_{{ upper . }} {{ index $enableMap . | quote }}
{{ end }}

set -gx EDITOR "vim"
set -gx VISUAL "code --wait"

{{- if eq .chezmoi.os "darwin" }}
# macos vars
set -gx HOMEBREW_CASK_OPTS --no-quarantine
{{- end }}

# keep failed commands in history just a little longer
set -g sponge_delay 5
# keep ctrl-c'd commands in history
set sponge_successful_exit_codes 0 127 130
